@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;

html,
body {
  color: var(--gray-900);
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: -0.06em;
  margin-bottom: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.04em;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.06em;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 1rem;
}

h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 1rem;
}

@tailwind components;
@tailwind utilities;

:root {
  --primary: #b40a0a;
  --secondary: #f26c3f;
  --gray-100: #f9f9f9;
  --gray-300: #cdd7d6;
  --gray-500: #5a757f;
  --gray-900: #1f2538;

  --input-bw: 1px;
  --input-lh: 1.5rem;
  --input-py: 0.5rem;
  --input-px: 1.5rem;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-100);
  height: 100%;
}
